<div *ngIf="metaData$ | async as metaData">
  <h4>{{metaData.title}}</h4>
</div>

<div class="grid-container mat-elevation-z2">

  <div class="centered-content grid-message" *ngIf="errorMessage">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </div>

  <div class="centered-content grid-loading-shade" *ngIf="rowsDataIsLoading">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </div>


  <div class="centered-content grid-message" *ngIf="!errorMessage && !rowsDataIsLoading && ((total$ | async) || 0) === 0">
    <ng-container *ngTemplateOutlet="empty"></ng-container>
  </div>

  <div class="grid-content grid-table-container">
    <ng-container *ngIf="(columnsMeta$ | async) as dataColumns">
      <ng-container *ngIf="(items$ | async) as items">

        <!-- Table-->
        <table mat-table [dataSource]="items" [ngClass]="{ loading: rowsDataIsLoading }">
          <ng-container [matColumnDef]="column.dataField" *ngFor="let column of dataColumns">

            <!-- Header -->
            <th mat-header-cell *matHeaderCellDef
                class="grid-header-cell"
                [ngStyle]="{
                    minWidth: column.minWidth ? column.minWidth + 'px' : null,
                    whiteSpace: column.wordWrap ? 'nowrap' : null
                  }">
              {{column.title}}
            </th>

            <td mat-cell *matCellDef="let element"
                (click)="rowClicked.emit(element)"
                [ngClass]="{ clickable: clickableRows }">
              <ng-container [ngSwitch]="column.columnType">

                <!-- ColumnType.MONEY -->
                <ng-container *ngSwitchCase="columnTypes.MONEY">
                  {{element[column.dataField]}} $
                </ng-container>

                <!-- ColumnType.DATE -->
                <ng-container *ngSwitchCase="columnTypes.DATE">
                  {{element[column.dataField] | date: 'dd.MM.yyyy' }}
                </ng-container>

                <!-- ColumnType.DATE_TIME -->
                <ng-container *ngSwitchCase="columnTypes.DATE_TIME">
                  {{element[column.dataField] | date: 'dd.MM.yyyy HH:mm' }}
                </ng-container>

                <!-- ColumnType.LINK -->
                <ng-container *ngSwitchCase="columnTypes.LINK">
                  <a class="cell-link">{{ element[column.dataField] }}</a>
                </ng-container>

                <!-- Other -->
                <ng-container *ngSwitchDefault>
                  {{ element[column.dataField] }}
                </ng-container>

              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns$ | async;"
              [ngClass]="{ hidden: errorMessage }"
          ></tr>


        </table>

        <mat-paginator
          [disabled]="rowsDataIsLoading"
          [ngClass]="{
              hidden: (((total$ | async) || 0) < 10) || errorMessage
            }"
          [length]="(total$ | async) || 0"
          [pageSize]="10"
          [pageSizeOptions]="[5,10,15,20]"
          (page)="changePaging($event)"></mat-paginator>

      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div>
    <div class="p12">
      <mm-spinner [visible]="true"></mm-spinner>
    </div>
    <div style="text-align:center;">
      <span>Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #error>
  <div><p class="invalid">{{errorMessage}}</p></div>
</ng-template>

<ng-template #empty>
  <div><p>No items</p></div>
</ng-template>
